body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to right, #1e293b, #0f172a);
  font-family: 'Poppins', Courier, monospace;

}
.squares{
  padding: 20px 40px 35px 30px;
  margin: 5px;
  border:0;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border: 1px solid #ccc;
  color:#333;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;

}

.status{
  font-weight: 700;
  font-size: 20px;
  color: white;
  margin-bottom: 8px;
}

.description-button{
  width: 230px;
  height: 40px;
  color: white;
  outline:0;
  cursor: pointer;
  margin: 5px 20px;
  font-weight: 500;
  padding : 12px;
  border:none;
  border-radius: 7px;
  font-size: 16px;
  background-color: #0f172a; 
  box-shadow: 0 4px 6px rgba(96, 165, 250, 0.2);  
}
.description-button:hover{
  border: 2px solid #60a5fa; 
  box-shadow: 0 4px 6px rgba(96, 165, 250, 0.5);
}
.current-move{
  font-weight: 800;
  font-size: 22px;
  

}


.game{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  position: relative;
}
.board-row{
  display: flex;
}